@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
    cursor: none;
  }
  
  html {
    scroll-behavior: smooth;
    cursor: none;
  }
  
  * {
    cursor: none !important;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-400 to-primary-600;
  }
  
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
}
